---
Language: Cpp
BasedOnStyle: LLVM

# Indentation & Spacing
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
AlignEscapedNewlines: Left

# Braces & Breakers
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  IndentBraces: false

# Spaces
SpaceBeforeParens: Always
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
